.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;

  padding: 1rem;
}


 
.tax-pro-card {
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: transform 0.3s ease;
  background: rgb(138, 34, 179);
 
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
 
  mat-card-header {
    padding-bottom: 0.5rem;
  }
 
  mat-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
 
  mat-card-subtitle {
    font-size: 0.9rem;
    color: #f6efef;
  }
 
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
 
  button {
    margin-left: 0.5rem;
  }

  .admin-dashboard {
  padding: 20px;

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }

  mat-card {
    margin-bottom: 24px;
  }

  table {
    width: 100%;
  }

  .mt-4 {
    margin-top: 1rem;
  }
}
}