:host {
  display: block;
  height: 100vh;
}

.full-height {
  height: 100vh;

  mat-sidenav {
    width: 250px;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    page-header {
      flex-shrink: 0;
    }

    .main-content {
      flex-grow: 1;
      overflow-y: auto;
      padding: 1rem;
    }

    page-footer {
      flex-shrink: 0;
    }
  }
}
